$page-mobile-break: 375px;
$page-desktop-break: 1440px;

$clr-very-dark-grey: hsl(0, 0%, 17%);
$clr-dark-grey: hsl(0, 0%, 59%);

$font-size-input: 1.125rem;

$font-weight-std: 400;
$font-weight-header: 500;
$font-weight-result: 700;

$font-family-rubik: "Rubik";

$img-header-desktop: url('../images/pattern-bg-desktop.png');

$size-header-img-height-desktop: 250px;
$size-full-parent: 100%;